@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateX(10rem);
            transform: translateY(0px) translateX(10rem);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateX(10rem);
            transform: translateY(0px) translateX(10rem);
  }
}

@-webkit-keyframes logoTransfusion {
  20% {
    -webkit-filter: hue-rotate(45deg) saturate(200%);
            filter: hue-rotate(45deg) saturate(200%);
  }
  40% {
    -webkit-filter: hue-rotate(90deg) saturate(200%);
            filter: hue-rotate(90deg) saturate(200%);
  }
  60% {
    -webkit-filter: hue-rotate(120deg) saturate(200%);
            filter: hue-rotate(120deg) saturate(200%);
  }
  80% {
    -webkit-filter: hue-rotate(150deg) saturate(200%);
            filter: hue-rotate(150deg) saturate(200%);
  }
  100% {
    -webkit-filter: hue-rotate(150deg) saturate(200%);
            filter: hue-rotate(150deg) saturate(200%);
  }
}

@keyframes logoTransfusion {
  20% {
    -webkit-filter: hue-rotate(45deg) saturate(200%);
            filter: hue-rotate(45deg) saturate(200%);
  }
  40% {
    -webkit-filter: hue-rotate(90deg) saturate(200%);
            filter: hue-rotate(90deg) saturate(200%);
  }
  60% {
    -webkit-filter: hue-rotate(120deg) saturate(200%);
            filter: hue-rotate(120deg) saturate(200%);
  }
  80% {
    -webkit-filter: hue-rotate(150deg) saturate(200%);
            filter: hue-rotate(150deg) saturate(200%);
  }
  100% {
    -webkit-filter: hue-rotate(150deg) saturate(200%);
            filter: hue-rotate(150deg) saturate(200%);
  }
}

@-webkit-keyframes basketMoving {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes basketMoving {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@-webkit-keyframes leftToRight {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  50% {
    visibility: hidden;
  }
}

@keyframes leftToRight {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  50% {
    visibility: hidden;
  }
}

@-webkit-keyframes intro-1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes intro-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes orangeComming {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  25% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateX(-20%) rotate(-45deg);
            transform: translateX(-20%) rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes orangeComming {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  25% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateX(-20%) rotate(-45deg);
            transform: translateX(-20%) rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes DeliveryMove {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
}

@keyframes DeliveryMove {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
}

@-webkit-keyframes scrollMove {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes scrollMove {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@-webkit-keyframes phoneMove {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes phoneMove {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@-webkit-keyframes jumping {
  50% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
}

@keyframes jumping {
  50% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
}

@-webkit-keyframes letterComming {
  0% {
    -webkit-transform: translate(-20rem);
            transform: translate(-20rem);
  }
}

@keyframes letterComming {
  0% {
    -webkit-transform: translate(-20rem);
            transform: translate(-20rem);
  }
}

@-webkit-keyframes appearCart {
  0% {
    top: 10rem;
  }
  100% {
  }
}

@keyframes appearCart {
  0% {
    top: 10rem;
  }
  100% {
  }
}

@-webkit-keyframes discountMoving {
  0% {
    left: 30%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    background-color: red;
  }
}

@keyframes discountMoving {
  0% {
    left: 30%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    background-color: red;
  }
}

/* SLICK SLIDER */
.slider {
  position: relative;
  padding: 0 6rem;
  min-width: 0;
  /* if slider is in flex container , it should be set */
}

.slider .col {
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
}

.slider__item {
  text-align: center;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  opacity: .5;
}

.slider__item.slick-center {
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  border: none;
}

.slick-arrow:focus {
  outline: none;
}

.slick-arrow.slick-prev {
  left: 0;
  background: url("./img/arrow-alt-circle-left-regular.svg") 0 0/100% no-repeat;
}

.slick-arrow.slick-next {
  right: 0;
  background: url("./img/arrow-alt-circle-right-solid.svg") 0 0/100% no-repeat;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  display: none;
}

/* FLIPPING CARDS */
.scene {
  /* width: 390px; */
  -webkit-perspective: 600px;
          perspective: 600px;
}

.scene .cards {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.scene .cards__face {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.scene .cards__face--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #f8f8f6;
  position: absolute;
  top: 0;
}

.scene .cards__face--back .price-container {
  text-align: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.scene .is-flipped {
  -webkit-transform: translateX(-100%) rotateY(-180deg);
          transform: translateX(-100%) rotateY(-180deg);
}

.scene .is-flipped-1 {
  -webkit-transform: translateX(-100%) rotateY(-180deg);
          transform: translateX(-100%) rotateY(-180deg);
}

/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
  width: 20px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #cdddd1;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #f8f8f6;
  /* color of the scroll thumb */
  border-radius: 5px;
  /* roundness of the scroll thumb */
  border: 1px solid orange;
  /* creates padding around scroll thumb */
}

/* PULSE BUTTON */
.btn {
  padding: 2rem 5.6rem !important;
  color: #fff !important;
  background-color: #5ba616 !important;
  border-radius: 50px !important;
  font-size: 1.8rem !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover:after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-green {
  background-color: #5ba616;
}

.btn-green:after {
  background-color: rgba(92, 166, 22, 0.692);
}

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

/* PRICE WITH DISCOUNT */
.price-container {
  text-align: left;
  font-size: 1.8rem;
  -webkit-transition: ease-in .4s;
  transition: ease-in .4s;
}

.price-container__estimate {
  font-family: MontserratMedium;
  color: #f7941d;
  margin-bottom: 3rem;
}

.price-container__estimate span {
  font-size: 2.2rem;
  color: #010101;
}

.price-container__estimate .fa-star, .price-container__estimate .fa-star-half-alt {
  font-size: 1.1rem;
}

.price-container__price {
  font-family: MontserratRegular;
}

.price-container__price span:first-of-type {
  margin-right: .5rem;
  color: #f7941d;
  font-size: 2rem;
}

.price-container__price span:last-of-type {
  font-family: MontserratLight;
  color: #acacac;
  font-size: 1.3rem;
  text-decoration: line-through !important;
}

/* LEAF BLOCK */
.leaf-container {
  position: relative;
  margin: 7.8rem 0 5.6rem 0;
}

.leaf-container__box {
  position: absolute;
  left: 50%;
}

.leaf-container__box span {
  position: absolute;
  width: 6rem;
  height: 1px;
}

.leaf-container__box span:first-of-type {
  background-color: #5ba616;
  right: 5.5rem;
  top: 50%;
}

.leaf-container__box span:last-of-type {
  width: 6rem;
  height: 1px;
  background-color: #5ba616;
  left: 4.5rem;
  top: 50%;
}

.leaf-container--text {
  font-family: MontserratMedium;
  font-size: 3.2rem;
  color: #5ba616;
  padding-top: 5.5rem;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.leaf-container h2 {
  text-align: center;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: left;
  padding-top: 3.5rem;
}

.cart__itemsBlock {
  border: 1px solid #989898;
  height: 100% !important;
}

.cart__itemsBlock img {
  height: 100%;
  padding: 1.4rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.cart__itemsBlock img:hover {
  background: #6DD47E;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.cart__itemsBlock img:hover:first-of-type {
  background: #c1f294;
}

.cart__itemsBlock img:hover:nth-of-type(2) {
  background: #00154F;
}

.cart__itemsBlock img:hover:last-of-type {
  background: #F4AF1B;
}

.cart__itemsBlock img:first-of-type {
  max-width: 4.8rem;
  /* transform: translateY(-.1rem); */
}

.cart__itemsBlock img:not(:first-of-type) {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-left: 1px solid #989898;
}

.product-list__imgcontainer {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(47, 133, 46, 0.149);
  display: inline-block;
  margin-bottom: 2rem;
}

.product-list__imgcontainer img {
  max-width: 170px;
  height: 150px;
  padding: 2rem;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: .3s;
  transition: .3s;
}

.product-list__imgcontainer img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.days-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -1.2%) scaleY(0.98);
          transform: translate(-50%, -1.2%) scaleY(0.98);
}

.days-container__box {
  max-width: 8rem;
  background-color: #5ba616;
  padding: .7rem 2rem .7rem 2rem;
}

.days-container__box span {
  font-family: MontserratMedium;
  font-size: 3rem;
  color: #fff;
}

.days-container__box span:first-of-type {
  padding-bottom: 1.6rem;
}

.days-container__box span:last-of-type {
  font-size: 1.6rem;
}

.product-container {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 270px;
  position: relative;
  margin-bottom: 5rem;
}

.product-container__img {
  padding: 4.9rem 0;
}

.product-container__img img {
  max-width: 100%;
  max-height: 160px;
}

.product-container:hover .product-container__estprice {
  background-color: #fff;
}

.product-container:hover .product-container__cart {
  display: block !important;
}

.product-container:hover .product-container__cart__discount {
  display: block !important;
}

.product-container__estprice {
  text-align: left;
  font-size: 1.8rem;
  padding: 2.1rem;
  -webkit-transition: ease-in .4s;
  transition: ease-in .4s;
}

.product-container__estprice--est {
  font-family: MontserratMedium;
  color: #f7941d;
}

.product-container__estprice--est .fa-star, .product-container__estprice--est .fa-star-half-alt {
  font-size: 1.2rem;
  margin: 1rem 0 1.2rem 0;
}

.product-container__estprice--price {
  font-family: MontserratRegular;
}

.product-container__estprice--price span:last-of-type {
  font-family: MontserratLight;
  color: #acacac;
  font-size: 1.3rem;
  text-decoration: line-through !important;
}

.product-container__estprice--price span:first-of-type {
  margin-right: .5rem;
}

.product-container__cart {
  background-color: #fff;
  position: absolute;
  top: 58%;
  left: 6rem;
  -webkit-transform: scale(0.84);
          transform: scale(0.84);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: appearCart;
          animation-name: appearCart;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  display: none;
}

.product-container__cart__itemsBlock {
  border: 1px solid #989898;
  height: 100% !important;
}

.product-container__cart__itemsBlock img {
  height: 100%;
  padding: 1.4rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.product-container__cart__itemsBlock img:hover {
  background: #6DD47E;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.product-container__cart__itemsBlock img:hover:first-of-type {
  background: #c1f294;
}

.product-container__cart__itemsBlock img:hover:nth-of-type(2) {
  background: #00154F;
}

.product-container__cart__itemsBlock img:hover:last-of-type {
  background: #F4AF1B;
}

.product-container__cart__itemsBlock img:first-of-type {
  max-width: 4.8rem;
  /* transform: translateY(-.1rem); */
}

.product-container__cart__itemsBlock img:not(:first-of-type) {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-left: 1px solid #989898;
}

.product-container__cart__discount {
  font-family: MontserratLight;
  font-size: 1.6rem;
  padding: 1.1rem .9rem 1.2rem 1rem;
  background-color: #5ba616;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  color: #fff;
  -webkit-animation-name: discountMoving;
          animation-name: discountMoving;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

/* Asteriscs STARTS HERE*/
* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
}

a {
  color: inherit !important;
}

/* HEADER STARTS HERE */
header {
  background-color: #fff;
  padding-top: 1.6rem;
  /* LANGUAGE-CHANGE_BAR STARTS HERE */
  /* LANGUAGE-CHANGE_BAR ENDS HERE*/
  /* LOGO_BAR STARTS HERE*/
  /* LOGO-BAR ENDS HERE*/
  /* NAVIGATION_BAR STARTS HERE*/
  /* NAVIGATION_BAR ENDS HERE*/
  /* HEADER MAIN TEXT AND PICTURE STARTS HERE*/
  /* HEADER MAIN TEXT AND PICTURE ENDS HERE*/
}

header .col p {
  text-align: right;
}

header .lang-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .lang-change img {
  padding-right: .9rem;
}

header .lang-change span {
  padding: 0 .5rem 0 1.8rem;
  font-size: 1.4rem;
}

header .welcome-text {
  font-size: 1.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .logo-bar {
  margin: 3.1rem 0rem;
}

header .logo-bar .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-bar .row .col:last-of-type {
  text-align: right;
}

header .logo-bar .row .col:nth-of-type(2) {
  text-align: center;
}

header .logo-bar .user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

header .logo-bar .user-nav a:not(:last-child) {
  padding-right: 2.5rem;
  border-right: 1px solid #dcdcdc;
}

header .logo-bar .user-nav a:last-of-type:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

header .logo-bar .user-nav :hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .logo-bar .logo img {
  width: 10rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .logo-bar .logo:hover {
  -webkit-animation-name: logoTransfusion;
          animation-name: logoTransfusion;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

header .logo-bar .cart {
  padding: 1rem 1.8rem 1rem 1.8rem;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  display: inline-block;
  -webkit-animation-name: basketMoving;
          animation-name: basketMoving;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
          animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

header .logo-bar .cart img {
  width: 23px;
  margin-right: 2.1rem;
  display: none;
}

header .logo-bar .cart a {
  font-family: MontserratSemibold;
  font-size: 1.3rem;
  color: #e7b0b0 !important;
  vertical-align: middle;
}

header .logo-bar .cart:hover img {
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
          animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  -webkit-animation-duration: 1.0s;
          animation-duration: 1.0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: inline-block;
}

header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6.6rem;
  font-family: MontserratSemibold;
  font-size: 1.4rem;
}

header .navigation ul li a {
  display: inline-block;
  padding-bottom: .9rem;
  position: relative;
}

header .navigation ul li a:after {
  content: ".";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: #5ba616;
  height: 1px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .navigation ul li a:hover {
  color: #5ba616 !important;
  -webkit-transform: translateY(-0.9rem);
          transform: translateY(-0.9rem);
  -webkit-transition: all .2s;
  transition: all .2s;
}

header .navigation ul li a:hover:after {
  width: 100%;
}

header .header__mainbar {
  margin-top: 5rem;
  background-color: #2f862e59;
}

header .header__mainbar .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__mainbar .col:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header__mainbar .col:first-child h1 {
  font-family: MontserratExtrabold;
  font-size: 4.5rem;
  color: #424242;
  line-height: 1.3;
  padding-bottom: 3rem;
}

header .header__mainbar .col:first-child h1 span {
  display: inline-block;
}

header .header__mainbar .col:first-child h1 span:first-of-type {
  padding: .5rem;
  background-color: orange;
  -webkit-animation-name: intro-1;
          animation-name: intro-1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  border-radius: 25px;
}

header .header__mainbar .col:first-child h1 span:nth-of-type(2) {
  -webkit-animation-name: intro-2;
          animation-name: intro-2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

header .header__mainbar .col:first-child .header-price {
  margin-bottom: 3rem;
  display: inline-block !important;
}

header .header__mainbar .col:first-child .header-price span {
  display: inline-block;
}

header .header__mainbar .col:first-child .header-price span:first-of-type {
  font-size: 2.4rem;
}

header .header__mainbar .col:first-child .header-price span:nth-of-type(2), header .header__mainbar .col:first-child .header-price span:nth-of-type(3) {
  font-family: MontserratMedium;
  font-size: 4.5rem;
  color: #fe0000;
}

header .header__mainbar .col:first-child .header-price span:nth-of-type(2) {
  font-size: 2.5rem;
  text-align: start;
  vertical-align: text-bottom;
  padding-left: 1rem;
}

header .header__mainbar .col:last-of-type div img {
  -webkit-animation-name: orangeComming;
          animation-name: orangeComming;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

/* FOOTER STARTS HERE */
footer {
  background-color: #f8f8f6;
}

footer .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .row .col {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem;
}

footer .row .col p {
  font-family: MontserratLight;
  font-size: 1.3rem;
  margin: 0;
}

footer .row .col:last-of-type {
  text-align: right;
}

footer .row .col:last-of-type span:first-of-type {
  padding-right: 2rem;
  border-right: 2px solid #b1b1b0;
}

footer .row .col:last-of-type span:last-child {
  padding-left: 1.8rem;
}

/* DELIVERY SERVICE SECTION STARTS HERE */
.service-info {
  background-color: #f8f8f6;
  padding-top: 11rem;
}

.service-info .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.service-info .col img {
  padding-bottom: 5.3rem;
  max-width: 7rem;
}

.service-info .col span:first-of-type {
  font-family: MontserratMedium;
  text-transform: uppercase;
  font-size: 2.2rem;
  color: #5ba616;
}

.service-info .col span:last-of-type {
  font-size: 1.4rem;
  color: #949494;
}

.service-info .col:hover:first-of-type img {
  -webkit-animation-name: DeliveryMove;
          animation-name: DeliveryMove;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.service-info .col:hover:nth-of-type(2) img {
  -webkit-animation-name: scrollMove;
          animation-name: scrollMove;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.service-info .col:hover:last-of-type img {
  -webkit-animation-name: phoneMove;
          animation-name: phoneMove;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

/* DELIVERY SERVICE SECTION ENDS HERE */
/* BEST SELLERS PRODUCTS SECTION STARTS HERE */
.best-products {
  background-color: #f8f8f6;
}

/* BEST SELLERS PRODUCTS SECTION ENDS HERE */
/* FEATURES PRODUCTS SECTION STARTS HERE */
.featureds-products {
  background-color: #f8f8f6;
}

.featureds-products .row {
  text-align: center;
}

.featureds-products .row .honey {
  -webkit-transition: .3s;
  transition: .3s;
}

.featureds-products .row .honey:hover {
  -webkit-transform: scale(1.1) translateY(-5rem);
          transform: scale(1.1) translateY(-5rem);
}

.featureds-products .featureds-products-description p {
  text-align: left;
  padding-top: 4rem;
  border-top: 1px solid #e0e0e0;
  font-size: 1.4rem;
}

/* FEATURES PRODUCTS SECTION ENDS HERE */
/* DAILY DEAL SECTION STARTS HERE */
.d-deal {
  background-color: #f8f8f6;
}

/* DAILY DEAL SECTION ENDS HERE */
/* BLOG SECTION STARTS HERE */
.blog {
  text-align: center;
}

.blog .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog .blog-container {
  padding-bottom: 2rem;
  max-width: 390px;
}

.blog .blog-container .blog-img img {
  max-height: 280px;
}

.blog .blog-container .article-block {
  text-align: left;
  padding: 1rem;
}

.blog .blog-container .article-block h2 {
  font-family: MontserratMedium;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

.blog .blog-container .article-block span, .blog .blog-container .article-block p {
  color: #858585;
  margin-bottom: 2.2rem;
  line-height: 2;
}

.blog .blog-container .article-block a {
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: .2s;
  transition: .2s;
}

.blog .blog-container .article-block a span {
  padding-right: 1rem;
  font-size: 1.4rem;
}

.blog .blog-container .article-block a span, .blog .blog-container .article-block a .fa-angle-right {
  color: #5ba616;
}

.blog .blog-container .article-block a:hover {
  -webkit-transform: translateY(-0.3rem) scale(1.1);
          transform: translateY(-0.3rem) scale(1.1);
}

/* BLOG SECTION ENDS HERE */
/* QUALITY SECTION STARTS HERE */
.quality {
  margin-bottom: 7rem;
}

.quality-container * {
  text-align: center;
}

.quality-container img {
  max-width: 28px;
  margin-bottom: 2.7rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.quality-container h2 {
  font-family: MontserratMedium;
  font-size: 2.2rem;
  color: #5ba616;
  margin-bottom: 1rem;
}

.quality-container p {
  color: #949494;
  font-size: 1.4rem;
}

.quality-container:hover img:last-child {
  -webkit-animation-name: jumping;
          animation-name: jumping;
  -webkit-animation-duration: .45s;
          animation-duration: .45s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

/* QUALITY SECTION ENDS HERE */
/* TESTIMONIALS START HERE */
.people-say {
  background-color: #f8f8f6;
  padding-bottom: 11rem;
  /* BOOTSTRAP SLIDER ARROWS MODIFICATION */
  /* / BOOTSTRAP SLIDER ARROWS MODIFICATION */
}

.people-say .carousel-control-prev-icon,
.people-say .carousel-control-next-icon {
  background-size: 100%, 100%;
  background-image: none;
}

.people-say .carousel-control-prev,
.people-say .carousel-control-next {
  width: 0;
}

.people-say .carousel-control-next-icon:after {
  content: url(./img/arrow-alt-circle-right-solid.svg);
}

.people-say .carousel-control-prev-icon:after {
  content: url(./img/arrow-alt-circle-left-regular.svg);
}

.people-say .testimonial {
  text-align: center;
}

.people-say .testimonial .face-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.people-say .testimonial .face-container__img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 0px 2.5px #7db846;
          box-shadow: 0px 0px 0px 2.5px #7db846;
}

.people-say .testimonial .face-container__img Copy Text
img {
  margin-left: 3rem;
}

.people-say .testimonial .face-container__img:nth-child(2) {
  height: 100px;
  width: 100px;
}

.people-say .testimonial p {
  font-size: 1.6rem;
  color: #949494;
  margin: 5.8rem 0 6.1rem 0;
  -webkit-transition: .7s;
  transition: .7s;
  opacity: 1;
}

.people-say .testimonial span {
  font-family: MontserratMedium;
  font-size: 1.6rem;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
}

.people-say .testimonial span:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: #5ba616;
}

/* TESTIMONIALS END HERE */
/* PRODUCTS PICTURES IN ROW START HERE */
.product-list {
  padding: 10rem 0;
}

.product-list .product-list__imgcontainer img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* PRODUCTS PICTURES IN ROW END HERE */
/* SUBSCRIBE SECTION STARTS HERE */
.subscribe {
  background-color: #ddcfc0;
  padding: 7.2rem 0;
  margin-bottom: 12rem;
}

.subscribe:hover img {
  -webkit-animation-name: letterComming;
          animation-name: letterComming;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.subscribe .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .row .letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe .row .letter img {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.subscribe .row .letter__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.subscribe .row .letter__text span:first-of-type {
  font-size: 2.4rem;
  margin: 0 1rem 0 3rem;
}

.subscribe .row .letter__text span:last-of-type {
  font-family: MontserratSemibold;
  font-size: 2.8rem;
}

.subscribe .row form {
  margin: 1rem 2rem 1rem 2.7rem;
  border: none !important;
  outline: none !important;
}

.subscribe .row form input {
  border-radius: 50px;
  font-size: 1.4rem;
  color: #2f862e59;
  width: 50rem;
  height: 6.4rem;
  border: none;
  padding-left: 2.5rem;
}

.subscribe .row form input:focus {
  outline: 0;
}

.subscribe .btn {
  font-family: MontserratBold;
  font-size: 1.7rem !important;
  border: 2px solid white;
  background-color: transparent !important;
  padding: 2rem 3.7rem !important;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
}

.subscribe .btn-green {
  background-color: #5ba616;
}

.subscribe .btn-green:after {
  background-color: rgba(47, 133, 46, 0.336);
}

/* SUBSCRIBE SECTION ENDS HERE */
/* CONTACT INFORMATIN SECTION STARTS HERE */
.contact-information {
  position: relative;
}

.contact-information .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-information .row:first-child {
  border-bottom: 1px solid #ababab;
}

.contact-information .row h2 {
  font-family: MontserratSemibold;
  font-size: 1.8rem;
  margin-bottom: 5rem !important;
}

.contact-information .row .about-us p {
  font-size: 1.2rem;
  color: #9d9c9c;
}

.contact-information .row .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-information .row .information a {
  margin-bottom: 2.6rem;
  font-size: 1.4rem;
}

.contact-information .row .our-insta img:nth-of-type(2) {
  -webkit-transform: scale(0.69) translateY(-1.2rem);
          transform: scale(0.69) translateY(-1.2rem);
}

.contact-information .row .contact-us:hover a {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.contact-information .row .contact-us div, .contact-information .row .contact-us p {
  margin-bottom: 3rem;
  font-size: 1.4rem;
}

.contact-information .row .contact-us p a {
  color: #5ba616 !important;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact-information .row:last-child {
  padding: 2rem 0;
}

.contact-information .row:last-child .col:first-of-type {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-information .row:last-child .col:last-of-type {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-information .row:last-child span {
  font-family: MontserratSemibold;
  font-size: 1.8rem;
}

.contact-information .row:last-child .follow-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-information .row:last-child .follow-us .fab {
  color: #616161;
}

.contact-information .row:last-child .follow-us a {
  -webkit-transition: .25s;
  transition: .25s;
}

.contact-information .row:last-child .follow-us a:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.contact-information .row:last-child .pay-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* CONTACT INFORMATIN SECTION ENDS HERE */
/* Google Fonts : 'Montserrat (light,regular,medium,semibold,bold,extrabold) START HERE*/
@font-face {
  font-family: MontserratLight;
  src: url("./fonts/google/Montserrat-Light.woff2") format("woff2");
}

@font-face {
  font-family: MontserratRegular;
  src: url("./fonts/google/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: MontserratMedium;
  src: url("./fonts/google/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: MontserratSemibold;
  src: url("./fonts/google/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: MontserratBold;
  src: url("./fonts/google/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: MontserratExtrabold;
  src: url("./fonts/google/Montserrat-ExtraBold.woff2") format("woff2");
}

/*  Google Fonts : 'Montserrat (light,regular,medium,semibold,bold,extrabold) END HERE*/
/* COLORS */
/* BOOTSTRAP-PLUGIN DISABLES */
.card {
  border: none !important;
}

/* / BOOTSTRAP-PLUGIN DISABLES */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html ::-moz-selection {
  background-color: lavender;
}

html ::selection {
  background-color: lavender;
}

body {
  font-family: "MontserratRegular", sans-serif !important;
}

.backtotop {
  max-width: 25px;
  right: 1rem;
  position: absolute;
  top: 50%;
}
/*# sourceMappingURL=styles.css.map */