@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";
@import "sass/base/animations";
@import "sass/components/slider";
@import "sass/components/flipping-cards";
@import "sass/components/custom-scrollbar";
@import "sass/components/pulse-button";
@import "sass/components/price-container";
@import "sass/components/leaf-container";
@import "sass/components/paying-cart";
@import "sass/components/product_list_img-container";
@import "sass/components/days";
@import "sass/components/product-container";
@import "sass/reset.scss";
@import "sass/layout/footer";
@import "sass/pages/main";
@import "sass/base/base";
@import "sass/layout/header+nav";

.backtotop {
    max-width: 25px;
    right: 1rem;
    position: absolute;
    top: 50%;
}