.days-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    position: absolute;
    left:50%;
    transform: translate(-50%,-1.2%)scaleY(.98);
    &__box {
        max-width: 8rem;
       background-color: $color-primary;
       padding: .7rem 2rem .7rem 2rem;
        span {
            font-family: MontserratMedium;
            font-size: 3rem;
            color:$color-white;
            &:first-of-type {
                padding-bottom: 1.6rem;
            }
            &:last-of-type {
                font-size: 1.6rem;
            }
        }
    }
}