/* DELIVERY SERVICE SECTION STARTS HERE */
.service-info {
    background-color: $color-secondary;
    padding-top: 11rem;
    .col {
        display: flex;
        flex-direction: column;
        text-align: center;
        img {
            padding-bottom: 5.3rem;
            max-width: 7rem;
        }
        span:first-of-type {
            font-family: MontserratMedium;
            text-transform: uppercase;
            font-size:2.2rem;
            color:$color-primary;
        }
        span:last-of-type {
            font-size: 1.4rem;
            color:$color-grey;
        }
        &:hover{
            &:first-of-type {
                img {
                    animation-name: DeliveryMove;
                    animation-duration: .7s;
                    animation-fill-mode: backwards;
                    animation-timing-function: ease-in;
                }
            }
            &:nth-of-type(2) {
                img {
                    animation-name: scrollMove;
                    animation-duration: .9s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in;
                    animation-iteration-count: infinite;
                }
            }
            &:last-of-type {
                img {
                    animation-name: phoneMove;
                    animation-duration: .5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                }
            }
        }
        &:first-of-type {
            img {
                @include respond(tab-port) {
                    max-width: 5rem;
                }
            }
           
        }
        &:not(:first-of-type) {
            img {
                @include respond(tab-port) {
                    max-width: 3.3rem;
                }
            }
        }
        span {
            @include respond(tab-port) {
                &:first-of-type {
                    font-size:1.5rem;
                }
                &:last-of-type {
                    font-size:1rem;
                }
            } 
            @include respond(phone-md) {
                &:first-of-type {
                    font-size:1.2rem;
                }
                &:last-of-type {
                    font-size:.9rem;
                }
            } 
        }
    }
    
}
/* DELIVERY SERVICE SECTION ENDS HERE */
/* BEST SELLERS PRODUCTS SECTION STARTS HERE */
.best-products {
    background-color: $color-secondary;
    .product-container {
        @include respond(phone-md) {
            box-shadow:none!important;  
        }
    }
    
}
/* BEST SELLERS PRODUCTS SECTION ENDS HERE */
/* FEATURES PRODUCTS SECTION STARTS HERE */
.featureds-products {
    background-color: $color-secondary;
    .row {
        text-align: center;
        @include respond(tab-port) {
            flex-direction: column;
            .honey {
                width:350px;
            }
        }
        .honey {
            transition: .3s;
            &:hover {
                transform: scale(1.1)translateY(-5rem);
            }
        }
    }
    .featureds-products-description {
        .price-container {
            @include respond(tab-port) {
                text-align: center;
            }
        }
        p {
            text-align: left;
            padding-top: 4rem;
            border-top: 1px solid #e0e0e0;
            font-size: 1.4rem;
        }
        .cart {
            display: inline-block;
        }
    }
}    
/* FEATURES PRODUCTS SECTION ENDS HERE */
/* DAILY DEAL SECTION STARTS HERE */
.d-deal {
    background-color: $color-secondary;
    .container {
        position: relative;
        .row:nth-of-type(2) {
                .col {
                    &:first-of-type {
                        @include respond(tab-land) {
                            position: absolute;
                            top:18rem;
                            max-width: 100%;
                            transform: scale(.9);
                            .days-container {
                                position: absolute;
                                flex-direction: row;
                            }
                        }
                        @include respond(phone-md) {
                           transform: scale(.6);
                        }
                    }
                }
        }  
        .product-container {
            @include respond(tab-land) {
                margin-top:5rem;
                justify-content: center;

                &__img {
                    text-align: center;
                }
                &__estprice {
                    text-align: center;
                }
            }
        }
        .col {
            @include respond(tab-land) {
                display: flex!important;
                justify-content: center!important;
            }
        }
    }
}
/* DAILY DEAL SECTION ENDS HERE */
/* BLOG SECTION STARTS HERE */
.blog {
    text-align: center;
    .row {
        .col {
            display:flex;
            justify-content: center;
        }
        @include respond(phone-md) {
            flex-direction: column;
        }
    }
    .blog-container {
        padding-bottom:2rem;
        max-width: 390px;

        .blog-img {
            img {
                max-height: 280px;
                @include respond (phone-md) {
                    max-width: 100%;
                }
            }
           
        }
        .article-block {
            text-align: left;
            padding: 1rem;
            h2 {
                font-family: MontserratMedium;
                font-size: 2.2rem;
                margin-bottom: 2.5rem;
            }
            span,p {
                color:#858585;
                margin-bottom: 2.2rem;
                line-height: 2;
            }
            a {
                text-transform: uppercase;
                display: inline-block;
                transition: .2s;
                span {
                    padding-right: 1rem;
                    font-size: 1.4rem;
                }
                span,.fa-angle-right {
                    color:$color-primary;
                }
                &:hover {
                    transform: translateY(-.3rem) scale(1.1)
                }
            }    
        }
        .btn {
            @include respond(phone-md) {
                font-size: 1.3rem!important;
                padding: 1.5rem 3rem !important;
            }
        }
        
    }   
}
/* BLOG SECTION ENDS HERE */
/* QUALITY SECTION STARTS HERE */
.quality {
    margin-bottom: 7rem;
    
    &-container {
        * {
            text-align: center;
        }
        img {
            max-width: 28px;
            margin-bottom: 2.7rem;
            transition: .2s;
        }
        h2 {
            font-family: MontserratMedium;
            font-size: 2.2rem;
            color:$color-primary;
            margin-bottom: 1rem;
        }
        p {
            color:$color-grey;
            font-size: 1.4rem;
        }
        &:hover {
            img {
                &:last-child {
                    animation-name: jumping;
                    animation-duration: .45s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 2;
                }
                
            }
        }
    }
    .col {
        &:first-of-type {
            img {
                max-width: 23px;
            }
        }
    
        &:nth-of-type(2) {
            img {
                max-width: 28px;
            }
        }
    
        &:nth-of-type(3) {
            img {
                max-width: 33px;
            }
        }

        @include respond(phone) {
            flex-basis: 100%;
        }
    }
}
/* QUALITY SECTION ENDS HERE */
/* TESTIMONIALS START HERE */
.people-say {
    background-color: $color-secondary;
    padding-bottom: 11rem;
    /* BOOTSTRAP SLIDER ARROWS MODIFICATION */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 100%, 100%;
        background-image: none;
        @include respond(phone) {
            transform: scale(.5);
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 0;
    }
    .carousel-control {
        &-prev {
            @include respond(phone) {
                left:5%;
            }
        }
        &-next {
            @include respond(phone) {
                right:5%;
            }
        }
       
    }
    .carousel-control-next-icon:after
    {
        content: url(./img/arrow-alt-circle-right-solid.svg);
    }
    .carousel-control-prev-icon:after {
    content: url(./img/arrow-alt-circle-left-regular.svg);
    }
 /* / BOOTSTRAP SLIDER ARROWS MODIFICATION */
    .testimonial {
        text-align: center;
        .face-container {
            display: flex;
            gap: 7.5rem;
            justify-content: center;
            align-items: flex-end;
            &__img {
                border-radius: 50%;
                height: 70px;
                width: 70px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 0px 0px 2.5px #7db846;
                @include respond (tab-port) {
                   transform: scale(.75);
                }
                @include respond (phone) {
                    transform: scale(.5);
                }
                @include respond (phone-md) {
                    &:first-of-type,&:last-of-type {
                        display: none;
                    }
                    &:nth-of-type(2) {
                        transform: scale(0.9);
                    }
                }
                img {
                   margin-left: 3rem;
                }   
                &:nth-child(2) {
                    height: 100px;
                    width: 100px;
                }
            }       
        }
        p {
            font-size: 1.6rem;
            color:$color-grey;
            margin: 5.8rem 0 6.1rem 0;
            transition: .7s;
            opacity: 1;
            padding: 0 5rem;
            @include respond (tab-port) {
                font-size: 1.3rem;
             }
        }
        span {
            font-family: MontserratMedium;
            font-size: 1.6rem;
            transition: .3s;
            display: inline-block;
            &:hover {
                @media only screen and (min-width:900px) {
                    transform: scale(1.4);
                }
                color:$color-primary;
            }
        }
    }
}
/* TESTIMONIALS END HERE */
/* PRODUCTS PICTURES IN ROW START HERE */
.product-list {
    padding: 10rem 0;
    .product-list__imgcontainer {
        img {
            object-fit: cover;
            width: 17rem;
        }
    }
    .col {
        @include respond (tab-port) {
            /*  flex-basis: 100%; */
            display: flex;
            justify-content: center;
        }
    }
}
/* PRODUCTS PICTURES IN ROW END HERE */
/* SUBSCRIBE SECTION STARTS HERE */
.subscribe {
    background-color: #ddcfc0;
    padding: 7.2rem 0;
    margin-bottom: 12rem;
    &:hover {
        img {
            animation-name: letterComming;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }
    }
    .row {
        justify-content: center;
        align-items: center;
            .letter {
                display: flex;
                padding-bottom: 3rem;
                img {
                    transform: rotate(-45deg);
                    @include respond(phone) {
                        max-height: 4.5rem;
                    }
                    @include respond(phone-md) {
                        max-height: 3.7rem;
                    }
                }
                &__text {
                    align-self:center;
                    span {
                        &:first-of-type {
                            font-size: 2.4rem;
                            margin: 0 1rem 0 3rem;
                            @include respond(phone-md) {
                                font-size:1.5rem!important;
                                margin-left:1rem;
                            }
                            @include respond(phone-sm) {
                                font-size:1.3rem!important;
                                margin-left:1rem;
                            }
                        }
                        &:last-of-type {
                            font-family: MontserratSemibold;
                            font-size: 2.6rem;
                            @include respond(phone-md) {
                                font-size:2rem!important;
                            }
                            @include respond(phone-sm) {
                                font-size:1.8rem!important;
                            }
                        }           
                    }
                }
            }
        form {
            margin:1rem 2rem 1rem 2.7rem;
            border:none!important;
            outline: none!important;
            input {
                border-radius: 50px;
                font-size: 1.4rem;
                color:$color-green-transp;
                width: 50rem;
                height: 6.4rem;
                border: none;
                padding-left: 2.5rem;

                @include respond(phone) {
                    width: 30rem;
                }
                @include respond(phone-md) {
                    width: 25rem;
                }
                @include respond(phone-sm) {
                    width: 23rem;
                }
                &:focus {
                    outline:0;
                }
            }
        }
    }
}

    .btn {
        font-family: MontserratBold;
        font-size:1.7rem!important;
        border:2px solid white;
        background-color: transparent;
        padding: 2rem 3.7rem!important;
        text-transform: uppercase;
        transition: .2s;
        &-green {
            background-color: $color-primary;
    
            &:after {
                background-color: hsla(119, 49%, 35%, 0.336);
            }
        }
    }

/* SUBSCRIBE SECTION ENDS HERE */
/* CONTACT INFORMATIN SECTION STARTS HERE */
.contact-information {
    position: relative;
    .col {
        display: flex;
        justify-content: center;

        @include respond(tab-port-md) {
            &:nth-of-type(3) {
                flex-basis: 100%;
            }
        }
        @include respond(phone-md){
            &:nth-of-type(2) {
                justify-content: flex-start;
            }
        }
       
    }
    .row {
        &:first-child {
            border-bottom: 1px solid #ababab;  
        }
        h2 {
            font-family: MontserratSemibold;
            font-size: 1.8rem;
            margin-bottom: 5rem!important; 
            @include respond(phone-md) {
                margin-bottom: 3rem!important;
            }        
        }
        .about-us {  
            img {
                @include respond(phone-md) {
                    max-height: 12rem;
                }
            }
            p {
                font-size: 1.2rem;
                color:#9d9c9c;
            }
        }
        .information {
            display: flex;
            flex-direction: column;
            a {
                margin-bottom: 2.6rem;
                font-size: 1.4rem;
                
                @include respond(phone-md) {
                    margin-bottom: 1.5rem;
                    font-size: 1.2rem;
                }
            }
        }
        .our-insta {
            img {
                &:nth-of-type(2) {
                    transform: scale(.69) translateY(-1.2rem);
                    @include respond(phone-md) {
                        transform: scale(.5);
                    }
                }  
                @include respond(phone-md) {
                    transform: scale(.8);
                }
            }
        }
        .contact-us {
            &:hover {
                a {
                    transform: translateX(1rem);
                }
            }
            div,p {
                margin-bottom: 3rem;
                font-size: 1.4rem;
            }
            p {
                a {
                    color:$color-primary!important;
                    display: inline-block;
                    transition: .3s;
                }
            }
        }
        &:last-child {
            padding: 2rem 0;
             .col {
                 &:first-of-type {
                     justify-content: flex-start;
                     @include respond(tab-port-md){
                        padding-bottom: 1.5rem;
                    }
                    @include respond(phone-md) {
                        justify-content: flex-start!important;
                    } 
                 }
                 &:last-of-type {
                     justify-content: flex-end;
                 } 
                @include respond(tab-port-md) {
                    justify-content: center!important;
                }  
                @include respond(phone-md) {
                    justify-content: flex-start!important;
                } 
             }
             span {
                 font-family: MontserratSemibold;
                 font-size: 1.8rem;
                 @include respond(phone-md) {
                    font-size: 1.3rem;
                 }
             }
             .follow-us {
                 display: flex;
                 gap: 2.6rem;
                 align-items:center;
                 .fab {
                     color:#616161;              
                 }
                 a {
                     transition: .25s;
                     &:hover {
                        transform: translateY(-1rem);
                     }
                 }
             }
             .pay-method {
                 display: flex;
                 gap:1.7rem;
                 align-items:center;

                @include respond(phone-md) {
                    gap:1.2rem;

                    img {
                        transform: scale(.9);
                    }
                }

             }
         }  
    }
}
/* CONTACT INFORMATIN SECTION ENDS HERE */